.advantages {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.advantages__inner::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
.advantages__inner {
  padding-block: var(--paddingBlock);
  position: relative;
}
.advantages__title {
  font-family: 'Montserrat';
  font-size: var(--fontSizeTitle);
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-inline: 5%;
  color: red;
}
.advantages__subtitle {
  text-align: center;
  padding-inline: 20%;
  font-family: 'Roboto';
  font-size: 1.143rem;
  line-height: 1.5;
  margin-bottom: 3.5rem;
  font-weight: 600;
}
.advantages__wrapper {
  display: flex;
}
.advantages__preview {
  flex: 0 0 39.2rem;
}
.advantages__preview_main {
  margin-right: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.advantages__preview_title {
  margin-inline: 5%;
  text-align: center;
  font-family: 'Montserrat';
  font-size: var(--fontSizeTitle);
  font-weight: 500;
  color: red;
  margin-bottom: 1rem;
}
.advantages__preview_subtitle {
  flex-grow: 1;
  font-family: 'Roboto';
  font-size: 1.286rem;
  font-weight: 400;
}
.advantages__preview_subtitle p:not(:last-child) {
  margin-bottom: 1rem;
}
.advantages__preview_subtitle p:last-child {
  margin-bottom: 3rem;
}
.advantages__preview_link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-block: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: fit-content;
  font-family: 'Roboto';
  font-size: 1.143rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--transitionDuration);
}
.advantages__preview_link:hover {
  color: var(--accent);
  transition: all var(--transitionDuration);
}
.advantages__preview_link svg {
  transition: all var(--transitionDuration);
}
.advantages__preview_link:hover svg {
  transition: all var(--transitionDuration);
  stroke: var(--accent);
}
.advantages__preview_advantages {
  display: none;
}
.advantages__body {
  margin-left: 2rem;
}
@media (max-width: 1023.98px) {
  .advantages__preview_advantages {
    display: block;
    margin-bottom: 3rem;
  }
  .advantages__body {
    display: none;
  }
  .advantages__preview_main {
    margin-right: 0;
  }
  .advantages__preview {
    flex: 0 0 100%;
  }
  .advantages__preview_subtitle {
    text-align: center;
  }
  .advantages__preview_link {
    align-self: center;
  }
}
@media (max-width: 767.98px) {
  .advantages__subtitle {
    padding-inline: 10%;
  }
  .advantages__preview_subtitle {
    font-size: 1.143rem;
  }
}
@media (max-width: 480.98px) {
  .advantages__title {
    margin-bottom: 1rem;
  }
  .advantages__preview_title {
    font-size: 1.286rem;
  }
}
