.header {
}
.header__top {
}
.header_top_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--white);
}
.header_top_line__logo {
  display: block;
}
.header_top_line__logo img {
  width: 150px;
  height: 50px;
  object-fit: contain;
}
.header_top_line__telephones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header_top_line__telephones li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.286em;
  font-weight: 500;
}
.header_top_line__telephones li * svg {
  display: block;
}
.header_top_line__addresses {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.header_top_line__addresses li {
  font-size: 1.286em;
  font-weight: 500;
  color: var(--sea);
}
@media (max-width: 767.98px) {
  .header_top_line {
    gap: 10px;
  }
  .header_top_line__addresses {
    gap: 2px;
  }
  .header_top_line__addresses li {
    font-size: 1.143em;
    font-weight: 400;
  }
}
@media (max-width: 480.98px) {
  .header_top_line {
    gap: 5px;
  }
  .header_top_line__addresses li {
    font-size: 1em;
  }
  .header_top_line__telephones li {
    gap: 3px;
    font-size: 1em;
    font-weight: 500;
  }
}
